{{- with site.Params.homeInfoParams }}
<div id="vanta-background" class="animate__animated animate__fadeIn animate__slower	3s"></div>
    
  <!-- Load the latest version of three.js and vanta.js from CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.topology.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.trunk.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.dots.min.js"></script>
<script>
// Create a variable to store the Vanta effect
let vantaEffect;

// Create an array of possible values for the background animation
let animations = [VANTA.TRUNK, VANTA.NET];

// Create a variable to store the current animation index
let currentAnimation;
let chaos = Math.floor(Math.random() * 3) + 1;


// Initialize the Vanta effect when the window loads
window.addEventListener('load', function() {
  // Get the current animation index from localStorage, or set it to zero if it doesn't exist
  currentAnimation = localStorage.getItem('currentAnimation') || 0;
  
  // Use the current animation index as an index to access one of the animations
  vantaEffect = animations[currentAnimation]({
    el: "#vanta-background",
    mouseControls: true,
    touchControls: false,
    gyroControls: false,
    minHeight: 400.00,
    minWidth: 400.00,
    scale: 2.00,
    scaleMobile: 2.00,
    color: 0xFF3000,
    color2: 0xFF3000,
    backgroundColor: 0x1D1E20, 
    points: 10, 
    maxDistance: 20,
    chaos: [chaos],
    showDots: true,
    space:5,
    spacing: currentAnimation == 0 ? 0 : 15 // If yes, use 15 as spacing; otherwise use 5
  });
  
  // Get a reference to the vanta element
var vanta = document.getElementById("vanta-background");

// Request access to the microphone
navigator.mediaDevices.getUserMedia({audio: true})
  .then(function(stream) {
    // Create an audio context
    var audioContext = new AudioContext();

    // Create a source node from the stream
    var source = audioContext.createMediaStreamSource(stream);

    // Create an analyser node
    var analyser = audioContext.createAnalyser();

    // Connect the source to the analyser
    source.connect(analyser);

    // Create a frequency data array
    var frequencyData = new Uint8Array(analyser.frequencyBinCount);

    // Define the minimum and maximum possible values of the mic intensity
    var minIntensity = 0;
    var maxIntensity = frequencyData.length * 255;

    // Define a function to update the chaos parameter
    function updateChaos() {
      // Get the frequency data
      analyser.getByteFrequencyData(frequencyData);

      // Calculate the sound intensity by summing up the values
      var intensity = 0;
      for (var i = 0; i < frequencyData.length; i++) {
        intensity += frequencyData[i];
      }

      // Normalize the intensity value to the range of 1 to 3
      var normalizedIntensity = (intensity - minIntensity) * (40 - 1) / (maxIntensity - minIntensity) + 1;

      // Round the normalized intensity value to the nearest integer
      var roundedIntensity = Math.round(normalizedIntensity);

      // Pass the rounded intensity value to the chaos parameter
      vantaEffect.options.chaos = roundedIntensity;
      vantaEffect.options.maxDistance = roundedIntensity+18;
      

      // Repeat every animation frame
      requestAnimationFrame(updateChaos);
    }

    // Start updating the chaos parameter
    updateChaos();
  })
  .catch(function(err) {
    // Handle error
    console.log(err);
  });



  // Increment the current animation index by one
  currentAnimation++;
  
  // If the current animation index is equal to the length of the animations array, reset it to zero
  if (currentAnimation == animations.length) {
    currentAnimation = 0;
  }
  
    // Set the current animation index in localStorage
    localStorage.setItem('currentAnimation', currentAnimation);

    // Add an event listener to the window object
    window.addEventListener('resize', function() {
    // Call the resize method on the Vanta effect object
    vantaEffect.resize();
    });
    window.addEventListener('resize', vantaEffect.resize, false);
    // Add this event listener to change the filter value on scroll
    window.addEventListener('scroll', function() {
      // Get the scroll position as a fraction of the window height
      let scrollFraction = window.scrollY / window.innerHeight;
      
      // Set the filter value to a multiple of the scroll fraction
      document.getElementById("vanta-background").style.filter = "blur(" + Math.min(scrollFraction * 10, 10) + "px)";
      
    });
  });
  
  // Destroy the Vanta effect when the window unloads
  window.addEventListener('unload', function() {
    vantaEffect.destroy();
  });
</script>


<article class="first-entry home-info">
    <div class="hero-section">
        <h1 class="hero-text">                                          </h1>
        <h2>                                                          </h2>
      </div>
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <div class="entry-content" class="animate__animated">

        <p>{{ .Content | markdownify }}</p>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
