header.header-sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--theme);
    z-index: 1000;
    opacity: 0.95; 
    filter:(opacity=98); 
    box-shadow: 1px 1.5px 0px grey
}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height:var(--header-height);

}


.nav > .nav-btn {
    display: flex;
    line-height:var(--header-height);
    
   
  }

  .nav > #nav-check {
    display: none;
  }
  


  @media (max-width:600px) {
    .nav-btn {
      display: table;
      position: relative;
      right: 0px;
      top: 0px;
      margin:auto;


    }
    .nav-btn > label {
      display: table;
      width: 60px;
      height: 60px;
      justify-content: space-between;

      line-height: var(--header-height);
      display:table;
    }
    .fa-bars {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.2);
      top:50%;
      left:50%;
      
    }
    .nav-btn > label > span {
        position: relative; 
        left: 30%;
        transform: translateX(-50%);

        
    }
    .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 60px;
      left: 0px;
    }
    .nav-links > a {
      display: block;
      width: 100%;
    }
    #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    #nav-check:checked ~ .nav-links {

      flex-direction: column;
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

#nav-check {
    display: none;
}


.nav a {
    display: block;
    
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
    
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
    
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 700;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
