header.header-sticky {
    position: sticky;
    top: 10px;
    width: 90%;

    background: var(--theme);
    z-index: 1000;
    opacity: 0.95; 
    filter:(opacity=98); 
    border: 1px solid grey;
    border-radius:0.5vh;
    left: 4.8%;
    margin: 0%;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height:var(--header-height);

}


.nav > .nav-btn {
    display: flex;
    line-height:var(--header-height);
  }

.nav > #nav-check {
    display: none;
  }
  
@media (min-width: 800px) { 
    #fabar {
    display: none;
    border: red 2px solid;
    }    
  }

  
@media (max-width: 800px) { 
    #fabar {
        position: relative;
        top: 20px; right: 20px;
    

    border: rgb(179, 154, 14) 2px solid;
    }    
  }

@media (max-width:800px) {
    .nav-btn {
      display: table;
      position: relative;
      right: 0px;
      top: 0px;
      margin:auto;
    }

@media (max-width:800px) {
        li.nav-links {

        position: relative;
        display: block;
        width: 100%;
        margin:0%;
        border: 2px solid green
              
            } }
@media (max-width:800px) {
        ul#menu {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        border: 2px solid green
                      
                    } }
  
.nav-btn > label {
    height:60px;
    width: 60px;
    
    }

.fa-bars {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
.nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.2);
      top:50%;
      left:50%;
      
    }
.nav-btn > label > span {
        position: relative; 
        left: 30%;
        transform: translateX(-50%);

        
    }
.nav-links {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #333;
    height: 0px;
    width: 100%;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    }
.nav-links > a {
      display: bloc;
      flex-direction: column;
      width: 100%;
    }
#nav-check:not(:checked) ~ .nav-links {
      height: 0px;      
    }
#nav-check:checked ~ .nav-links {
      display: bloc;
      height:auto;
      width: 97%;
      margin-left:0%;
      overflow-y: auto;
      border:2px solid red;
      
    }
  }

/*Selector to hide the menu check-mark */
#nav-check {
    display: none;
}


.nav a {
    display: block;   
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
    
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
    
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 700;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
