header.header-sticky {
    position: sticky;
    top: 10px;
    width: 90%;

    background: var(--theme);
    z-index: 1000;
    opacity: 0.95; 
    filter:(opacity=98); 
    border: 1px solid grey;
    border-radius:0.5vh;
    left: 5%;
    margin-left: 4px;
    margin-right: 4px;
    margin:0%;
    padding:0%;
    

}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height:var(--header-height);
    overflow: hidden;
    margin:0%;
    padding:0%;

}


.nav > .nav-btn {
    display: block;
    line-height:var(--header-height);
  }

.nav > #nav-check {
    display: none;
  }


  
@media (min-width: 800px) { 
    #fabar {
    display: none;
    
    }    
  }

  
@media (max-width: 800px) { 
    #fabar {
        position: fixed;
        top: 10px; right: 1hv;
        max-width: calc(var(--nav-width) + var(--gap) * 2);
        margin-inline-start: 34%;
        margin-inline-end: auto;

    border: rgb(179, 154, 14) ;
    }    
  }

@media (max-width:800px) {
    .nav-btn {
      display: table;
      position: relative;
      right: 0px;
      top: 0px;
      margin:auto;
    }

@media (max-width:800px) {
        li.nav-links {

        position: relative;
        display: block;
        width: 100%;
        margin:1%;
        border: 0.5px solid grey
              
            } }

@media (max-width:800px) {
        a {
        
        text-align: center;
        
                      
                    } }


#nav-check:checked ~ > ul#menu {
          margin-bottom: 20%;
          border: 2px solid white;
          
                    }


@media (max-width:800px) {
        ul#menu {
        position: sticky;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin-bottom: 2%; 
        margin-top: -1.5%;
        overflow: hidden;

                      
                    } }






  
.nav-btn > label {
    height:60px;
    width: 60px;
    
    }

.fa-bars {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
.nav-links > li:hover,.nav-links  #nav-check:checked ~ .nav-links > a {
      background-color: rgba(0, 0, 0, 0.82);
      border: 2px solid red;
      top:50%;
      left:50%;
      
    }
.nav-btn > label > span {
        position: relative; 
        left: 30%;
        transform: translateX(-50%);

        
    }
.nav-links {
    position: relative;
    display: flex;
    width: 100%;
    height: 20%;
    border-radius: 5px;
    margin-top: 4px;
    height: 0px;
    width: 100%;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 0px;
    left: 0px;
    }
.nav-links > a {
      display: bloc;
      flex-direction: column;
      width: 100%;
    }
#nav-check:not(:checked) ~ .nav-links {
      height: 0px;      
      display: none;
    }
#nav-check:checked ~ .nav-links {
      display: bloc;
      height:auto;
      width: 100%;
      margin-left:0%;
      overflow-y: auto;
      margin-bottom: 1%;
      padding-top: 1%;
      
    }
  }

/*Selector to hide the menu check-mark */
#nav-check {
    display: none;
}


.nav a {
    display: block;   
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
    
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
    
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 700;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
